.list{
    .list-msg{
        margin-top: 54px;
        .list-img{
            height: 250px;
            width: 250px;
            float: left;
            margin-right: 50px;
        }
        .list-detail{
            margin-left: 50px;
            height: 250px;
            width: 1000px;
            font-size: medium;
        }
    }
    .table{
        margin-top: 54px;
    }
}
