.play-mode {
    float: left;
    height: 50;
    display: flex;
    align-items: center;
    border: none;
    .play-mode-loop-btn{
        width: 30px;
        background-color:transparent;
    }
    .play-mode-btn{
        background-color: transparent;
    }
}
