.music-table{
    width: 95%;
    margin-left: 20px;
    .playlist-img{
        border-radius: 8px;
        height: 46px;
        width: 46px;
        margin-right: -20px;
        border: 1px solid rgba(0,0,0,.04);
        cursor: pointer;
    }
    .album-prefix{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        height: 40px;
        cursor: default;
        &-btn{
            width: 12px;
            background: transparent;
        }
        &-num{
            width: 12px;
            text-align: center;
        }
    }
    &-song{
        &-name{
            font-size: 18px;
            font-weight: 600;
            cursor: default;
            padding-right: 16px;
            overflow: hidden;
            cursor: pointer;
        }
        &-artist{
            margin-top: 2px;
            font-size: 13px;
            opacity: .68;
            overflow: hidden;
            a{
                color: inherit;
                text-decoration: auto;
                cursor: pointer;
            }
            a:hover{
                text-decoration:underline;
            }
        }
    }
    .playlist-album{
        font-size: 16px;
        opacity: .68;
        overflow: hidden;
        a{
            color: inherit;
            text-decoration: auto;
            cursor: pointer;
        }
        a:hover{
            text-decoration:underline;
        }
    }
    &-time{
        font-size: 16px;
        width: 50px;
        cursor: default;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        font-variant-numeric: tabular-nums;
        opacity: 0.88;
    }
    &-action{
        display: flex;
        justify-content: flex-end;
        .hidden{
            display: none;
        }
    }
    .clickrow{
        background-color: aqua;
    }
}
