.current-song {
    display: flex;
    align-items: center;
    padding: 3px 0px 12px 0px;
    height: 45px;
    .like-btn {
        display: flex;
        align-items: center;
        margin-left: 16px;
        padding: 8px;
        border-radius: 25%;
        background-color: transparent;
    }
}
