.album{
    .album-msg{
        margin-top: 54px;
        height: auto;
        .album-img{
            width: 25%;
            float: left;
            margin-right: 50px;
        }
        .album-detail{
            margin-left: 50px;
            width: auto;
            font-size: medium;
        }
    }
    .table{
        margin-top: 54px;
    }
    .more{
        margin-top: 54px;
    }
}
