.artist{
    .artist-msg{
        margin-top: 54px;
        .artist-img{
            height: 250px;
            width: 250px;
            float: left;
            margin-right: 50px;
        }
        .artist-detail{
            margin-left: 50px;
            height: 250px;
            width: 1000px;
            font-size: medium;
        }
    }
    .new{
        margin-top: 84px;
        .new-album{
            float: left;
            width: 50%;
            height: 150px;
            .new-album-img{
                margin-right: 30px;
                width: 25%;;
                float: left;
            }
        }
    }
}
#hotSongs{
    margin-top: 254px;
}
