.artist{
    color: var(--color-text-1);
    .artist-msg{
        margin-top: 54px;
        width: 100%;
        height: 150px;
        .artist-img{
            width: 25%;
            float: left;
        }
        .artist-detail{
            float: left;
            margin-left: 5%;
            width:70%;
            font-size: medium;
            h1 {
                margin: 0px;
            }
            .a{
                color: var(--color-text-1);
            }
            .btn{
                border-radius: 8px;
                padding: 8px 16px;
                width: auto;
                opacity: 0.78;
                height: 40px;
                min-width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                line-height: 18px;
                font-weight: 600;
                color: #335eea;
            }
        }
    }
    .new{
        margin-top: 184px;
        .new-album{
            float: left;
            width: 50%;
            height: 160px;
            .new-album-img{
                margin-right: 30px;
                width: 25%;;
                float: left;
            }
            .new-album-msg{
                .h3{
                    cursor: pointer;
                }
            }
        }
    }
    .get-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text-1);
        font-size: 13px;
        font-weight: 600;
        opacity: 0.68;
        color: inherit;
        -webkit-text-decoration: auto;
        text-decoration: auto;
        cursor: pointer;
        margin: 8px;
    }
}
