.artist{
    color: var(--color-text-1);
    .alert{
        position: fixed;
        top:47%;
        z-index: 1;
        width: 50%;
        margin-left: 20%;
    }
    .artist-msg{
        margin-top: 54px;
        width: 100%;
        height: 150px;
        .artist-img{
            width: 25%;
            float: left;
        }
        .artist-detail{
            float: left;
            margin-left: 5%;
            width:70%;
            font-size: medium;
            .a{
                color: var(--color-text-1);
            }
        }
    }
    .new{
        margin-top: 184px;
        .new-album{
            float: left;
            width: 50%;
            height: 150px;
            .new-album-img{
                margin-right: 30px;
                width: 25%;;
                float: left;
            }
            .new-album-msg{
                .h3{
                    cursor: pointer;
                }
            }
        }
    }
}
#hotSongs{
    margin-top: 254px;
}
