.comments{
    margin:20px;
    &-list{
        margin-top:24px;
        &-item{
            padding: 15px 0;
            border-top: 1px dotted #ccc;
        }
    }
}
.alert{
    position: fixed;
    top:47%;
    z-index: 1;
    width: 50%;
    margin-left: 20%;
}
