<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no" />
        <link rel="shortcut icon" type="image/x-icon" href="//docs.idqqimg.com/tim/docs/desktop/favicon.ico">
        <link rel="icon" type="image/x-icon" href="//docs.idqqimg.com/tim/docs/desktop/favicon.ico">

        <title>Choral Music</title>
        <script>window.GLOBAL_RELEASE_VERSION="<%=GLOBAL_RELEASE_VERSION%>"</script>
    </head>
    <body>
        <div id="root"></div>
        <script src="<%=LIBRARY__react%>"></script>
        <script src="<%=LIBRARY__react_dom%>"></script>
    </body>
</html>
