.layout-header{
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 5vw;
    background-color: #ffffff;
    z-index: 100;
    &-btn{
        width: 3%;
        background-color: transparent;
        .left{
            margin-left: 4%;
        }
        .right{
            margin-right: 15%;
        }
    }
}