.layout-header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    @media (max-width: 1336px) {
        padding: 0 5vw;
    }
    padding: 0 10vw;
    background: var(--color-bg-2);
    opacity: 0.95;
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 100;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        width: 100%;
        &-btn {
            display: flex;
            flex: 1;
            align-items: center;
        }
        &-link {
            flex: 1;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            a {
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                border-radius: 6px;
                padding: 6px 10px;
                color: var(--color-text-1);
                margin-right: 12px;
                margin-left: 12px;
            }
        }
        &-right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &-avatar{
                margin-left: 12px;
                cursor: pointer;
            }
        }
    }
}
