.playlist{
    width: 95%;
    margin-left: 20px;
    &-img{
        border-radius: 8px;
        height: 46px;
        width: 46px;
        margin-right: -20px;
        border: 1px solid rgba(0,0,0,.04);
        cursor: pointer;
    }
    &-song{
        &-name{
            font-size: 18px;
            font-weight: 600;
            cursor: default;
            padding-right: 16px;
            overflow: hidden;
        }
        &-artist{
            margin-top: 2px;
            font-size: 13px;
            opacity: .68;
            overflow: hidden;
            a{
                color: inherit;
                text-decoration: auto;
                cursor: pointer;
            }
            a:hover{
                text-decoration:underline;
            }
        }
    }
    &-album{
        font-size: 16px;
        opacity: .68;
        overflow: hidden;
        a{
            color: inherit;
            text-decoration: auto;
            cursor: pointer;
        }
        a:hover{
            text-decoration:underline;
        }
    }
    &-time{
        font-size: 16px;
        width: 50px;
        cursor: default;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
        font-variant-numeric: tabular-nums;
        opacity: 0.88;
        color: var(--color-text);
    }
    &-action{
        display: flex;
        justify-content: flex-end;
        .hidden{
            display: none;
        }
    }
}