.song{
    color: var(--color-text-1);
    .song-detail{
        margin-top:54px;
        .song-detail-msg{
            float: left;
            width: 25%;
            margin-left: 15%;
            .song-msg{
                text-align: center;
                u {
                    opacity: 0.68;
                    color: inherit;
                    -webkit-text-decoration: auto;
                    text-decoration: auto;
                    cursor: pointer;
                    background-color: transparent;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                a {
                    color:var(--color-text-1);
                }
            }
        }
        .lyric{
            margin-left: 50%;
            width:50%;
            min-height: 500px;
        }
        .btn{
            border-radius: 8px;
            padding: 8px 16px;
            width: auto;
            opacity: 0.78;
            height: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            color: #335eea;
        }
        .btn-noactive{
            border-radius: 8px;
            padding: 8px 16px;
            width: auto;
            opacity: 0.78;
            height: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
        }
    }
    .song-comment{
        margin-top: 54px;
        .page{
            margin-top: -25px;
            justify-content: center;
        }
        .sort{
            .btn{
                border-radius: 8px;
                padding: 8px 16px;
                width: auto;
                opacity: 0.78;
                height: 40px;
                min-width: 40px;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                line-height: 18px;
                font-weight: 600;
                color: #335eea;
            }
            .btn-noactive{
                border-radius: 8px;
                padding: 8px 16px;
                width: auto;
                opacity: 0.78;
                height: 40px;
                min-width: 40px;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                line-height: 18px;
                font-weight: 600;
            }
        }
    }
}
