.fm-card {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    height: 198px;
    box-sizing: border-box;
    &-cover {
        height: 100%;
        clip-path: border-box;
        border-radius: 0.75rem;
        margin-right: 1.2rem;
        cursor: pointer;
        user-select: none;
    }
    &-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        color: #fff;
        .info {
            .title {
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 0.6rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                word-break: break-all;
            }
            .artist {
                opacity: 0.68;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                word-break: break-all;
            }
        }
        .control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: -0.4rem;
            .buttons {
                display: flex;
                .btn {
                    margin: 0 8px 0 0;
                    background: transparent;
                    color: #fff;
                }
            }
            .card-name {
                font-size: 1rem;
                opacity: 0.18;
                display: flex;
                align-items: center;
                font-weight: 600;
                user-select: none;
            }
        }
    }
}
