.layout-footer{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background: var(--color-bg-2);
    color: var(--color-text-1);
    height: 50px;
    .footer-btn{
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
    }
}

