.common-card {
    background: transparent;
    &-cover {
        height: 100%;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .play-button {
            position: absolute;
            background: transparent;
            color: #fff;
            width: 22%;
            height: 22%;
            border-radius: 50%;
            backdrop-filter: blur(8px);
            background: rgba(255, 255, 255, 0.14);
            border: 1px solid rgba(255, 255, 255, 0.08);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;
        }
        .none {
            display: none;
        }
        &-img {
            width: 100%;
            user-select: none;
            aspect-ratio: 1/1;
            border: 1px solid rgba(0, 0, 0, 0.04);
        }
    }
    &-text {
        display: flex;
        margin-top: 8px;
        flex-flow: wrap;
        &-title {
            font-weight: 600;
            line-height: 20px;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 16px;
            a {
                color: inherit;
                text-decoration: auto;
                cursor: pointer;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        &-info {
            font-size: 12px;
            opacity: 0.68;
            line-height: 18px;
            word-break: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}
