.searcher{
    width: 200px;
}
.demo-trigger-popup {
    text-align: left;
    background-color: var(--color-bg-popup);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0;
    width: 200px;
    div {
        border-radius: 0;
    }
}
.searcher-list-header {
    margin-left: -12px;
}