.searcher{
    width: 200px;
}

.demo-trigger-popup {
    text-align: left;
    width: 200px;
    border-radius: 8px;
    background-color: var(--color-bg-popup);
    
    .list-item {
        background-color: var(--color-bg-popup);
    }
    
}

.searcher-list {
    &-header {
        margin-left: -12px;
        margin-right: -12px;
    }
    &-item {
        div {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        
        &:hover {
            color: whitesmoke;
            background-color: rgb(var(--primary-4),0.9);
            cursor: pointer;
        }
        &-hunt{
            color: rgb(var(--primary-7))
        }
    }
}